---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Контакты">
  <main>
    <Blocks.Team isMain />
    <Blocks.Services />
    <Blocks.Advantages />
    <Blocks.Steps />
    <Blocks.Certificates />
    <Blocks.Application />
  </main>
</App>
