---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Мебелирование">
  <main>
    <Blocks.Furnishing />
    <Blocks.Packages />
    <Blocks.Application />
    <Blocks.Portfolio />
    <Blocks.Team />
    <Blocks.Services />
    <Blocks.Gira />
    <Blocks.Certificates />
    <Blocks.Application />
    <Blocks.Reviews />
  </main>
</App>
