---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Дизайн интерьера">
  <main>
    <Blocks.Interior />
    <Blocks.Application />
    <Blocks.Includes />
    <Blocks.Portfolio />
    <Blocks.Reviews />
  </main>
</App>
