---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Цены">
  <main>
    <Blocks.Services isMain />
    <Blocks.Advantages />
    <Blocks.Pricing />
    <Blocks.Application />
  </main>
</App>
