---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Команда">
  <main>
    <Blocks.Team isMain />
    <Blocks.Advantages />
    <Blocks.Services secondary/>
    <Blocks.Application />
  </main>
</App>
