@use "scss/helpers" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: rem(15) 0;
  width: 100%;
  height: rem(134);
  color: #fff;
  font-size: rem(15);
  background: var(--primary);
  transition: var(--transition-ease);
  z-index: 10;

  @include media("xl") {
    height: rem(120);
  }
  @include media("lg") {
    position: static;
    height: rem(100);
  }
  @include media("sm") {
    height: rem(80);
    font-size: rem(18);
  }
  @include media("xxs") {
    font-size: rem(16);
  }

  @media screen and (min-width: rem(1025)) {
    &.sticky {
      padding: rem(10) 0;
    }
  }

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(40);
  }

  &__logo {
    display: block;
    height: 100%;
    width: fit-content;

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }

  &__menu {
    @include media("lg") {
      display: none;
    }

    .menu {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: rem(15) rem(20);

      @include media("xl") {
        font-size: rem(14);
        gap: rem(10) rem(15);
      }

      &-item {
        transition: var(--transition-ease);

        &:hover {
          font-weight: 500;
        }
      }
    }
  }

  &__contacts {
    white-space: nowrap;
    gap: rem(20);

    &-socials {
      gap: rem(10);
      --icon-size: 1.25em;
    }

    &-button {
      padding: rem(10) rem(26);
      border: var(--border);
      letter-spacing: 0.07em;
      transition: var(--transition-ease);

      @include media("sm") {
        display: none;
      }

      &:hover {
        color: var(--text-color);
        background: #fff;
      }
    }
  }
}

.mobile__menu {
  position: fixed;
  bottom: rem(12);
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 10;

  @include media("lg") {
    display: flex;
  }
  @include media("xs") {
    width: 100%;
    max-width: calc(100% - rem(30));
  }
  @include media("350px") {
    max-width: calc(100% - rem(10));
  }

  &-tabs {
    padding-right: rem(15);
    min-width: rem(320);
    width: 100%;
    height: rem(65);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(10);
  }

  &-tab {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-child {
      width: rem(65);
      height: 100%;
      color: #fff;
      background: #313131;
      flex-direction: row;
      justify-content: center;

      svg {
        height: rem(20);
        width: auto;
      }

      &.active {
        .icon-menu {
          display: none;
        }
        .icon-close {
          display: block;
        }
      }
    }

    svg > *,
    span {
      transition: var(--transition-ease);
    }

    i {
      width: rem(40);
      height: rem(40);
      border: 1px solid #313131;
      transition: var(--transition-ease);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      color: #313131;
    }

    span {
      margin-top: rem(3);
      font-size: rem(12);
      font-weight: 300;
      color: #313131;
      text-align: center;
    }

    &.active {
      i {
        background: #313131;
      }

      svg {
        color: #fff;
      }
    }

    .group {
      position: absolute;
      bottom: calc(100% + rem(10));
      padding: 0;
      max-height: 0;
      gap: rem(12);
      transition: var(--transition-ease);
      overflow: hidden;

      a {
        width: rem(40);
        height: rem(40);
      }

      a:first-child {
        margin-top: rem(6);
      }

      a:last-child {
        margin-bottom: rem(6);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &-content {
    position: absolute;
    padding: rem(20) rem(20) rem(25);
    bottom: rem(80);
    min-height: rem(180);
    width: 100%;
    color: #fff;
    background: #313131;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    display: none;
    align-items: center;
    transition: var(--transition-ease);
    opacity: 0;
    transform: translateY(rem(20));
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    pointer-events: none;

    &.show {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    .menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(20);

      & > .menu-item > a {
        color: #fff;
        font-size: 1rem;
      }

      &-item-has-children {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(16);
      }
    }

    #menu-content .sub-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(8);

      .menu-item {
        font-size: rem(14);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: rem(8);

        &::before {
          content: "";
          display: block;
          width: rem(5);
          height: rem(5);
          background: var(--primary);
          border-radius: 50%;
        }
      }
    }

    #menu-content {
      padding-right: rem(10);
      max-height: calc(100vh - rem(250));
      min-width: calc(100% + rem(14));
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(14);
      overflow: auto;

      &::-webkit-scrollbar {
        width: rem(5);
      }

      &::-webkit-scrollbar-track {
        background: #e6e6e6;
        border-radius: 9999px;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--primary);
        border-radius: 9999px;
      }
    }
  }

  &-close {
    position: absolute;
    top: rem(15);
    right: rem(15);
    z-index: 2;

    svg {
      width: rem(18);
      height: rem(18);
    }
  }
}
