---
import { Button, H4, Icon, Image, P } from "ui";
---

<div class="modal-overlay">
  <div class="modal" data-template="callback">
    <div class="modal-form">
      <div class="btn-close" data-modal="close"></div>

      <div class="modal-title">Оставьте заявку</div>
      <P>И наши специалисты свяжутся с Вами <br /> в ближайшее время!</P>

      <form class="the-form">
        <input type="text" name="name" placeholder="Ваше имя" required />
        <input type="tel" name="phone" placeholder="+7 (___) ___-__-__" required />
        <button class="modal-btn">Отправить </button>
        <div class="text-xs">
          Отправляя заявку я даю согласие на <br /> обработку персональных данных
        </div>
      </form>
    </div>
  </div>

  <div class="modal" data-template="success">
    <div class="modal-form">
      <div class="btn-close" data-modal="close"></div>

      <div class="modal-title">Спасибо за заявку!</div>
      <P
        >Наши специалисты свяжутся с Вами <br />
        в ближайшее время!</P
      >
      <button class="modal-btn" data-modal="close">Закрыть </button>
    </div>
  </div>
</div>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  /* Overlay */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  /* Modal */
  .modal {
    height: auto;
    width: fit-content;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.3s ease;
    display: none;
    align-items: center;
    justify-content: center;

    &.show {
      transform: translateX(0);
      opacity: 1;
    }

    &-title {
      font-size: clamp(1.5rem, 1.0769rem + 0.7692vw, 2rem);
    }

    &-btn {
      width: 100%;
      max-width: rem(250);
      height: rem(40);
      color: var(--primary);
      font-size: 1rem;
      background: #fff;

      @include media("xs") {
        margin-top: rem(10);
      }
    }
  }

  .modal-form {
    position: relative;
    padding: rem(30);
    height: 100vh;
    width: rem(624);
    color: #fff;
    text-align: center;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(28);

    @include media("lg") {
      width: 100vw;
    }
    @include media("sm") {
      padding: rem(30) rem(20);
      gap: rem(20);
    }

    .btn-close {
      position: absolute;
      top: rem(25);
      left: rem(25);
      z-index: 2;
      width: rem(24);
      height: rem(24);
      background: url('data:image/svg+xml,<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L16.5 16.5" stroke="%23ffffff" /><path d="M16.5 1L1 16.5" stroke="%23ffffff" /></svg>')
        center/contain no-repeat;
      cursor: pointer;

      @include media("sm") {
        top: rem(20);
        left: rem(20);
      }
    }

    .the-form {
      position: relative;
      z-index: 2;
    }

    form {
      width: 100%;
      max-width: rem(250);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(28);

      @include media("sm") {
        gap: rem(20);
      }

      input {
        padding: rem(10) rem(15);
        width: 100%;
        border: 1px solid #fff;
      }

      .text-xs {
        width: 100%;
        font-weight: 300;
      }

      button {
        width: 100%;
        box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
</style>
