---
import { Section, H2, H3, H4, P, BgImg, Image, Icon, Button } from "ui";
import SectionHeader from "@/components/SectionHeader.astro";
---

<!-- Application -->
<Section name="application"> .application </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .application {
    position: relative;
  }
</style>
