---
import { Section, H2, H3, H4, P, BgImg, Image, Icon, Button } from "ui";
import SectionHeader from "@/components/SectionHeader.astro";
---

<!-- Certificates -->
<Section name="certificates">
  <SectionHeader class="variant-categories">
    <H4>[ дипломы и сертификаты ]</H4>
    <H2> Подтверждённый <i>профессионализм</i> </H2>
  </SectionHeader>

  <div class="certificates__swiper group">
    <div class="swiper">
      <div class="swiper-wrapper">
        {
          Array(6)
            .fill(0)
            .map((_, i) => (
              <div
                class="swiper-slide"
                data-fancybox="certificates"
                data-src="/assets/img/certificates/1.png"
              >
                <Image src="certificates/1.png" />
              </div>
            ))
        }
      </div>
    </div>

    <div class="certificates__swiper-nav">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .certificates {
    position: relative;

    &__swiper {
      width: 100%;
      gap: rem(40);

      @include media("sm") {
        gap: rem(25);
      }

      .swiper {
        width: 100%;
        max-height: rem(575);

        @include media("xs") {
          overflow: visible;
        }

        &-slide {
          height: 100%;
          cursor: zoom-in;

          @include media("sm") {
            width: rem(320);
          }
          @include media("xs") {
            width: rem(280);
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      &-nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: rem(25);

        .swiper-button-prev,
        .swiper-button-next {
          all: unset;
          width: rem(50);
          height: rem(50);
          color: #fff;
          background-color: #000;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: var(--transition-ease);
          cursor: pointer;

          &::after {
            font-size: rem(20);
          }

          &:hover {
            opacity: 0.8;
          }

          &.swiper-button-disabled {
            color: #666666;
            background: #b8b8b8;
            cursor: not-allowed;
            opacity: 1;
          }
        }
      }
    }
  }
</style>
