---
import { Section, H2, H3, P, Image, Icon, Button, BgImg } from 'ui'
---

<!-- Hero -->
<Section name="hero">
  <Fragment slot="header">
    <BgImg src="hero/bg.png" attachment="fixed" />
  </Fragment>

  <div class="hero__title">
    Индивидуальное строительство домов и ремонт квартир
  </div>

  <ul class="hero__advantages col">
    <li>✓ Строим дома на тектонической местности</li>
    <li>✓ Грамотно планируем пространство внутри дома</li>
    <li>✓ Эскизный проект и рабочие чертежи с учетом особенности локации</li>
    <li>✓ Масштабный проект от красивой картинки к реализации</li>
  </ul>

  <div class="hero__btns row">
    <Button href="#" variant="outline">Подбор земельного участка</Button>
    <Button href="#" variant="outline">Смотреть портфолио</Button>
    <Button href="#" variant="outline">Дизайн-проект</Button>
    <Button href="#" variant="outline">Консультация</Button>
  </div>
</Section>

<style lang="scss" is:global>
  @use 'scss/helpers' as *;

  .hero {
    position: relative;
    height: rem(840);
    color: #fff;
    display: flex;
    align-items: center;

    @include media('lg') {
      padding: rem(60) 0 rem(80) !important;
      height: auto;
    }

    .bg-img::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1;
    }

    &__title {
      max-width: rem(985);
      font-size: clamp(1.75rem, 1.3556rem + 1.6828vw, 3.375rem);
      font-weight: 300;
      line-height: 130%;
    }

    &__advantages {
      width: 100%;
      gap: rem(10);

      @include media('sm') {
        font-size: rem(14);
      }
    }

    &__btns {
      width: 100%;
      flex-wrap: wrap;
      gap: rem(20);

      @include media('lg') {
        gap: rem(15) rem(20);

        .btn {
          flex: 1 0 rem(250);
        }
      }
      @include media('xs') {
        margin-top: rem(10);
        gap: rem(15);

        .btn {
          flex-grow: 1;
        }
      }

      .btn {
        color: #fff;

        &:hover {
          color: #000;
          background: #fff;
        }
      }
    }
  }
</style>
