---
import { Section, H2, H3, H4, P, BgImg, Image, Icon, Button } from "ui";
import SectionHeader from "@/components/SectionHeader.astro";
---

<!-- Packages -->
<Section name="packages"> .packages </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .packages {
    position: relative;
  }
</style>
