---
import { Section, H2, H3, H4, P, BgImg, Image, Icon, Button } from "ui";
import SectionHeader from "@/components/SectionHeader.astro";
---

<!-- Product -->
<Section name="product" main={true}>
  <SectionHeader>
    <H4>[ GR999 ]</H4>
    <H3> Проект одноэтажного дома на узком участке </H3>
  </SectionHeader>

  <div class="product__wrapper">
    <div class="product__swiper">
      <div class="product__swiper-main swiper">
        <div class="swiper-wrapper">
          {
            Array.from({ length: 16 }).map((_, idx) => (
              <div
                class="swiper-slide"
                data-fancybox="product"
                data-src="/assets/img/product/1.png"
              >
                <Image src="product/1.png" />
              </div>
            ))
          }
        </div>
      </div>

      <div class="product__swiper-thumbs swiper">
        <div class="swiper-wrapper">
          {
            Array.from({ length: 16 }).map(() => (
              <div class="swiper-slide">
                <Image src="product/1.png" />
              </div>
            ))
          }
        </div>
      </div>
    </div>

    <div class="product__details">
      <H3><i>Характеристики</i> проекта</H3>
      <div class="product__details-list">
        <ul class="group">
          <li><strong>Общая площадь:</strong> 120 м²</li>
          <li><strong>Жилая площадь:</strong> 120 м²</li>
          <li><strong>Размеры дома:</strong> 12 х 10 м</li>
          <li><strong>Количество спален:</strong> 2</li>
          <li><strong>Количество комнат:</strong> 4</li>
          <li><strong>Отделка:</strong> пвх панели</li>
          <li><strong>Материал стен:</strong> пеноблок / газобетон</li>
          <li><strong>Фундамент:</strong> ленточный</li>
          <li><strong>Перекрытия:</strong> балки</li>
        </ul>
      </div>
      <H3><i>Стоимость</i> проекта</H3>
      <div class="product__details-action">
        <div class="product__details-price">
          <div class="discount-price">50 000 р</div>
          <div class="real-price line-through">98 000 р</div>
        </div>
        <P>Архитектурный и конструктивный разделы</P>
        <div class="group">
          <Button data-modal="callback">Заказать проект</Button>
          <Button variant="outline" data-modal="callback">Получить консультацию</Button>
        </div>
      </div>
    </div>
  </div>

  <div class="product__about">
    <H3><i>Описание</i> проекта</H3>
    <P>
      В целом, конечно, сплочённость команды профессионалов позволяет оценить значение
      переосмысления внешнеэкономических политик. Наше дело не так однозначно, как может показаться:
      высокое качество позиционных исследований требует от нас анализа прогресса профессионального
      сообщества. Принимая во внимание показатели успешности, высокое качество позиционных
      исследований говорит о возможностях приоретизации разума над эмоциями.
      <br /><br />
      В целом, конечно, новая модель организационной деятельности, а также свежий взгляд на привычные
      вещи — безусловно открывает новые горизонты для модели развития. В своём стремлении улучшить пользовательский
      опыт мы упускаем, что многие известные личности преданы социально-демократической анафеме. Значимость
      этих проблем настолько очевидна, что понимание сути ресурсосберегающих технологий предполагает
      независимые способы реализации кластеризации усилий! В рамках спецификации современных стандартов,
      ключевые особенности структуры проекта призывают нас к новым свершениям, которые, в свою очередь,
      должны быть разоблачены.
      <br /><br />

      Являясь всего лишь частью общей картины, интерактивные прототипы будут заблокированы в рамках
      своих собственных рациональных ограничений. Сложно сказать, почему диаграммы связей и по сей
      день остаются уделом либералов, которые жаждут быть ассоциативно распределены по отраслям. А
      ещё сторонники тоталитаризма в науке формируют глобальную экономическую сеть и при этом —
      описаны максимально подробно. Внезапно, диаграммы связей лишь добавляют фракционных
      разногласий и описаны максимально подробно. Повседневная практика показывает, что
      семантический разбор внешних противодействий требует анализа анализа существующих паттернов
      поведения.
      <br /><br />

      Кстати, активно развивающиеся страны третьего мира будут рассмотрены исключительно в разрезе
      маркетинговых и финансовых предпосылок. С учётом сложившейся международной обстановки,
      дальнейшее развитие различных форм деятельности играет определяющее значение для дальнейших
      направлений развития. В своём стремлении повысить качество жизни, они забывают, что высокое
      качество позиционных исследований обеспечивает широкому кругу (специалистов) участие в
      формировании кластеризации усилий. Ясность нашей позиции очевидна: высококачественный прототип
      будущего проекта не даёт нам иного выбора, кроме определения новых принципов формирования
      материально-технической и кадровой базы. А ещё представители современных социальных резервов
      являются только методом политического участия и указаны как претенденты на роль ключевых
      факторов. Каждый из нас понимает очевидную вещь: начало повседневной работы по формированию
      позиции создаёт предпосылки для модели развития.
    </P>
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .product {
    position: relative;

    &.is-main {
      padding-top: rem(100) !important;

      @include media("lg") {
        padding-top: rem(80) !important;
      }
      @include media("sm") {
        padding-top: rem(50) !important;
      }
    }

    &__wrapper {
      width: 100%;
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      gap: rem(30) rem(20);

      @include media("lg") {
        flex-direction: column;
      }
    }

    &__swiper {
      width: 55%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(40);

      @include media("lg") {
        width: 100%;
        gap: rem(20);
      }
      @include media("sm") {
        gap: rem(20);
      }

      &-main {
        width: 100%;
        height: rem(580);

        @include media("lg") {
          height: rem(400);
        }
        @include media("sm") {
          height: rem(300);
        }
        @include media("xs") {
          height: rem(240);
        }

        .swiper-slide {
          width: 100%;
          height: 100%;
          cursor: zoom-in;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }

      &-thumbs {
        width: 100%;

        @include media("lg") {
          height: rem(85);
          overflow: visible;

          .swiper-slide {
            height: 100% !important;
          }
        }
        @include media("xs") {
          height: rem(70);
        }

        .swiper-slide {
          padding: rem(5);
          height: rem(110);
          background: #7b7b7b50;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }

          &.swiper-slide-thumb-active {
            border: 1px solid #222;
          }
        }
      }
    }

    &__details {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(36);

      @include media("xl") {
        gap: rem(30);
      }
      @include media("lg") {
        width: 100%;
      }
      @include media("sm") {
        gap: rem(20);
      }

      &-list {
        padding: rem(24) rem(20);
        width: 100%;
        border: rem(1) solid #222;
        display: flex;

        .group {
          gap: rem(15);
        }

        li {
          position: relative;
          min-width: rem(350);
          font-size: 1rem;
          font-weight: 300;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: rem(10);

          @include media("sm") {
            min-width: 100%;
            width: 100%;
            font-size: rem(14);
          }

          strong::after {
            content: "";
            display: block;
            height: rem(1);
            background: #222;
            flex-grow: 1;
          }

          strong,
          b {
            font-weight: 300;
            flex-grow: 1;
            display: flex;
            align-items: center;
            gap: inherit;
          }
        }
      }

      &-action {
        padding: rem(24) rem(20);
        width: 100%;
        border: rem(1) solid #222;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: rem(24);

        @include media("sm") {
          gap: rem(20);
        }

        .group {
          width: 100%;
          max-width: rem(320);
          gap: rem(15);

          .btn {
            height: rem(42);
            width: 100%;
            text-transform: unset;
          }
        }
      }

      &-price {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: rem(28);

        .discount-price {
          font-size: clamp(1.75rem, 1.5376rem + 0.9061vw, 2.625rem);
        }

        .real-price {
          font-size: clamp(1.25rem, 1.1438rem + 0.4531vw, 1.6875rem);
          color: #7b7b7b;
        }

        @include media("sm") {
          gap: rem(20);
        }
      }
    }

    &__about {
      margin-top: rem(40);
      width: 100%;
      max-width: rem(1400);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(36);

      @include media("xl") {
        max-width: 80%;
        gap: rem(30);
      }
      @include media("sm") {
        margin-top: rem(20);
        max-width: 100%;
        gap: rem(20);
      }
    }
  }
</style>
