---
import { Section, H2, H3, H4, P, BgImg, Image, Icon, Button } from "ui";
import SectionHeader from "@/components/SectionHeader.astro";

interface Props {
  isMain?: boolean;
}

const { isMain = false } = Astro.props;
---

<!-- Services -->
<Section name="services" main={isMain}>
  <SectionHeader>
    <H4>[ услуги и цены ]</H4>
    <H2> Архитектура, дизайн и <i>цены без сюрпризов</i> </H2>
  </SectionHeader>

  <div class="services__list group-row">
    <div class="services__card group">
      <div class="services__card-title">Индивидуальное строительства дома и ремонт квартир</div>
      <P>
        Наша строительная бригада на протяжении более 10 лет ответственно подходит к каждому
        проекту, каждый проект это великая ответственность за ваш комфорт и уют. На объекте работают
        только лучшие специалисты своего дела. Строительство дома или ремонта квартиры возможно по
        вашему готовому дизайн-проекту. Мы предлагаем уникальные архитектурные и дизайнерские
        решения, которые отражают ваш стиль, вкус и образ жизни.
      </P>
      <Button variant="outline" data-modal="callback">Заказать</Button>
    </div>

    <div class="services__card group">
      <div class="services__card-title">ДИЗАЙН ПРОЕКТ ПОД КЛЮЧ</div>
      <P>
        Вы получите комплексное решение
        <br />
        – изысканные интерьерные решения <br />
        – чертежи по рабочей документации от профессионалов <br />
        – Разработка индивидуального дизайнерского проекта квартиры или дома
        <br />
        – авторский надзор на всех этапах реализации; – помощь в подборе и закупке материалов;
        <br />
        – консультации по выбору подрядчиков и строительных бригад.

        <br /><br />
        С нами вы получаете не просто проект, а поддержку на каждом этапе — от идеи до воплощения.
      </P>
      <Button variant="outline" data-modal="callback">Заказать</Button>
    </div>

    <div class="services__card group">
      <div class="services__card-title">
        ТИПОВЫЕ ПРОЕКТЫ ДОМОВ И ГОТОВЫЕ ДИЗАЙН-ПРОЕКТЫ для квартир
      </div>
      <P>
        Мы предлагаем более 100 готовых проектов, которые помогут сэкономить до 70% затрат на
        архитектурное проектирование и 100% выигрыша времени.
        <br /><br />
        Выбирая типовое решение, вы получаете полный комплект необходимой документации - уже на следующий
        день можно приступать к строительству или ремонту квартиры.
        <br /><br />
        По вашему запросу внесём изменения и адаптируем проект под особенности участка и личные пожелания.
        Это быстро удобно и выгодно.
      </P>
      <Button variant="outline" data-modal="callback">Заказать</Button>
    </div>
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .services {
    position: relative;

    &.is-main {
      padding-top: rem(100);

      @include media("lg") {
        padding-top: rem(80);
      }
      @include media("sm") {
        padding-top: rem(50);
      }
    }

    &__list {
      align-items: stretch;
      flex-wrap: wrap;
      gap: rem(20);

      @include media("sm") {
        gap: rem(10);
      }
    }

    &__card {
      padding: rem(30);
      flex: 1 0 rem(480);
      gap: rem(18);

      @include media("lg") {
        padding: rem(20);
        flex-basis: 100%;
      }
      @include media("xs") {
        padding: rem(15);
        gap: rem(15);

        .btn {
          width: 100%;
        }
      }

      &:nth-child(odd) {
        color: #fff;
        background: rgba($color: #000000, $alpha: 0.8);

        .btn {
          color: currentColor;
        }

        .btn:hover {
          color: var(--text-color);
          background: #fff;
        }
      }

      &-title {
        font-size: clamp(1.125rem, 1.0947rem + 0.1294vw, 1.25rem);
        font-weight: 300;
        line-height: 1.5;
        text-transform: uppercase;
      }

      .text-p {
        margin-bottom: rem(14);
        line-height: 1.65;
      }

      .btn {
        margin-top: auto;
      }
    }
  }
</style>
