---
import { Section, H2, H3, H4, P, BgImg, Image, Icon, Button } from "ui";
import SectionHeader from "@/components/SectionHeader.astro";
---

<!-- Similar -->
<Section name="similar"> .similar </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .similar {
    position: relative;
  }
</style>
