---
import { Section, H2, H3, H4, P, BgImg, Image, Icon, Button } from "ui";
import SectionHeader from "@/components/SectionHeader.astro";

interface Props {
  isMain?: boolean;
}

const { isMain = false } = Astro.props;
---

<!-- Team -->
<Section name="team" main={isMain}>
  <SectionHeader>
    <H4>[ наша команда ]</H4>
    <H2> <i>Те</i>, кто <i>стоит</i> за <i>каждым проектом</i>. </H2>
  </SectionHeader>

  <div class="team__swiper">
    <div class="team__swiper-main swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="team__swiper-fullname">ФАМИЛЬЕВНА КАРИНА</div>
          <div class="team__swiper-job">ДИЗАЙНЕР ИНТЕРЬЕРОВ</div>
          <P class="italic">
            С детства увлечена дизайном, более 10 лет профессионального опыта. Предпочитает
            минимализм и ищет инновационные решения в каждом интерьере.
          </P>
          <Image src="team/3-full.png" />
        </div>
        <div class="swiper-slide">
          <div class="team__swiper-fullname">Someone Famous</div>
          <div class="team__swiper-job">ДИЗАЙНЕР ИНТЕРЬЕРОВ</div>
          <P class="italic">
            С детства увлечена дизайном, более 10 лет профессионального опыта. Предпочитает
            минимализм и ищет инновационные решения в каждом интерьере.
          </P>
          <Image src="team/3-full.png" />
        </div>
        <div class="swiper-slide">
          <div class="team__swiper-fullname">ФАМИЛЬЕВНА КАРИНА</div>
          <div class="team__swiper-job">ДИЗАЙНЕР ИНТЕРЬЕРОВ</div>
          <P class="italic">
            С детства увлечена дизайном, более 10 лет профессионального опыта. Предпочитает
            минимализм и ищет инновационные решения в каждом интерьере.
          </P>
          <Image src="team/3-full.png" />
        </div>

        <div class="swiper-slide">
          <div class="team__swiper-fullname">ФАМИЛЬЕВНА КАРИНА</div>
          <div class="team__swiper-job">ДИЗАЙНЕР ИНТЕРЬЕРОВ</div>
          <P class="italic">
            С детства увлечена дизайном, более 10 лет профессионального опыта. Предпочитает
            минимализм и ищет инновационные решения в каждом интерьере.
          </P>
          <Image src="team/1-full.png" />
        </div>
        <div class="swiper-slide">
          <div class="team__swiper-fullname">Someone Famous</div>
          <div class="team__swiper-job">ДИЗАЙНЕР ИНТЕРЬЕРОВ</div>
          <P class="italic">
            С детства увлечена дизайном, более 10 лет профессионального опыта. Предпочитает
            минимализм и ищет инновационные решения в каждом интерьере.
          </P>
          <Image src="team/3-full.png" />
        </div>
        <div class="swiper-slide">
          <div class="team__swiper-fullname">Someone Famous 2</div>
          <div class="team__swiper-job">ДИЗАЙНЕР ИНТЕРЬЕРОВ</div>
          <P class="italic">
            С детства увлечена дизайном, более 10 лет профессионального опыта. Предпочитает
            минимализм и ищет инновационные решения в каждом интерьере.
          </P>
          <Image src="team/1-full.png" />
        </div>
      </div>
    </div>

    <div class="team__swiper-thumbs swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <Image src="team/1.png" />
          <div class="group">
            <div class="text-xl"><strong>Фамильева</strong> Карина</div>
            <P>Дизайнер интерьеров</P>
            <P class="italic">
              С детства увлечена дизайном, более 10 лет профессионального опыта. Предпочитает
              минимализм и ищет инновационные решения в каждом интерьере.
            </P>
          </div>
        </div>

        <div class="swiper-slide">
          <Image src="team/2.png" />
          <div class="group">
            <div class="text-xl"><strong>Someone</strong> Famous</div>
            <P>Дизайнер интерьеров</P>
            <P class="italic">
              С детства увлечена дизайном, более 10 лет профессионального опыта. Предпочитает
              минимализм и ищет инновационные решения в каждом интерьере.
            </P>
          </div>
        </div>

        <div class="swiper-slide">
          <Image src="team/3.png" />
          <div class="group">
            <div class="text-xl"><strong>Someone</strong> Famous 2</div>
            <P>Дизайнер интерьеров</P>
            <P class="italic">
              С детства увлечена дизайном, более 10 лет профессионального опыта. Предпочитает
              минимализм и ищет инновационные решения в каждом интерьере.
            </P>
          </div>
        </div>

        <div class="swiper-slide">
          <Image src="team/1.png" />
          <div class="group">
            <div class="text-xl"><strong>Фамильева</strong> Карина</div>
            <P>Дизайнер интерьеров</P>
            <P class="italic">
              С детства увлечена дизайном, более 10 лет профессионального опыта. Предпочитает
              минимализм и ищет инновационные решения в каждом интерьере.
            </P>
          </div>
        </div>

        <div class="swiper-slide">
          <Image src="team/2.png" />
          <div class="group">
            <div class="text-xl"><strong>Someone</strong> Famous</div>
            <P>Дизайнер интерьеров</P>
            <P class="italic">
              С детства увлечена дизайном, более 10 лет профессионального опыта. Предпочитает
              минимализм и ищет инновационные решения в каждом интерьере.
            </P>
          </div>
        </div>

        <div class="swiper-slide">
          <Image src="team/3.png" />
          <div class="group">
            <div class="text-xl"><strong>Someone</strong> Famous 2</div>
            <P>Дизайнер интерьеров</P>
            <P class="italic">
              С детства увлечена дизайном, более 10 лет профессионального опыта. Предпочитает
              минимализм и ищет инновационные решения в каждом интерьере.
            </P>
          </div>
        </div>
      </div>
    </div>
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .team {
    position: relative;

    &.is-main {
      padding-top: rem(100);

      @include media("lg") {
        padding-top: rem(80);
      }
      @include media("sm") {
        padding-top: rem(50);
      }
    }

    .container {
      gap: rem(20);
    }

    &__swiper {
      position: relative;
      width: 100%;
      height: rem(880);

      @include media("xl") {
        height: auto;
      }

      &-main {
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 0.6;

        .swiper-slide {
          position: relative;
          padding-top: rem(100);
          height: 100%;
          width: 100%;
          transition: var(--transition-ease);
          opacity: 0 !important;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          @include media("xl") {
            padding-top: 0;
            gap: rem(10);
          }

          &.swiper-slide-active {
            opacity: 1 !important;
          }

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom center;

            @include media("xl") {
              position: relative;
              width: 100%;
              height: 100%;
              max-height: rem(600);
            }
          }

          .italic {
            opacity: 0;

            @include media("xl") {
              margin-top: rem(10);
              opacity: 1;
            }
          }
        }
      }

      &-thumbs {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        @include media("3xl") {
          overflow: visible;
        }

        .swiper-slide {
          width: rem(175);
          height: rem(175);
          border-radius: 50%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          gap: rem(20);
          transition:
            background 0.3s ease,
            padding 0.3s ease;
          cursor: pointer;

          @include media("xl") {
            width: rem(140);
            height: rem(140);
          }
          @include media("sm") {
            width: rem(100);
            height: rem(100);
          }
          @include media("xs") {
            width: rem(80);
            height: rem(80);
          }

          img {
            width: 100%;
            height: 100%;
            border-radius: inherit;
            filter: grayscale(1);
            object-fit: cover;
            object-position: center center;
            transition: filter 0.3s ease;
          }

          .group {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            gap: rem(8);
          }

          i {
            margin-top: rem(4);
          }

          &.swiper-slide-thumb-active {
            @include media(rem(1280), min-width) {
              padding: rem(15);
              width: rem(615);
              height: rem(200);
              border: 1px solid #acacac;
              background: #fff;
              border-radius: 0;

              img {
                width: rem(172);
                height: rem(172);
                border-radius: 0;
                filter: grayscale(0);
              }

              .group {
                display: flex;
              }
            }
            @include media("xl") {
              border: rem(2) solid #000;
            }
          }
        }
      }

      &-fullname {
        font-size: clamp(1.75rem, 0.233rem + 6.4725vw, 8rem);
        font-weight: 600;
        color: #4e4e4e;
        text-transform: uppercase;
      }

      &-job {
        font-size: 1rem;
        font-weight: 600;
        color: #4e4e4e;
        text-transform: uppercase;
      }
    }
  }
</style>
