---
import { Image, Icon, H3, P, Button } from "ui";
---

<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <a href="/" class="footer__logo" title="Logo">
        <Image src="logo.svg" />
      </a>

      <div class="footer__top-content">
        <P class="footer__address">
          г. Сочи, ул. Московская, 111 <br />
          Время работы: с 9:00 до 17:00 <br />
          суббота и воскресенье — выходные
        </P>
        <div class="footer__contacts text-p group">
          <a href="tel:+79288888888" class="footer__contacts-phone">+7 (928) 888-88-88</a>
          <a href="mailto:info@gira.ru" class="footer__contacts-email">info@gira.ru</a>
          <div class="group-row">
            <a href="#" target="_blank" class="footer__contacts-social" title="Whatsapp">
              <Icon src="whatsapp.svg" />
            </a>
            <a href="#" target="_blank" class="footer__contacts-social" title="Telegram">
              <Icon src="telegram.svg" />
            </a>
          </div>
        </div>
        <Button variant="outline" data-modal="form">Запросить цену</Button>
        <a href="#" target="_blank" title="Подписаться на Telegram" class="footer__follow">
          <span class="text-sm">
            Подписывайтесь на наш канал в <br /> Telegram, там много полезных <br /> постов о строительстве
          </span>
          <Icon src="telegram-large.svg" />
        </a>
      </div>
    </div>
  </div>

  <div class="footer__map">
    <iframe
      src="https://yandex.uz/map-widget/v1/?ll=39.728836%2C43.593700&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NzUxODU4NRKNAdCg0L7RgdGB0LjRjywg0JrRgNCw0YHQvdC-0LTQsNGA0YHQutC40Lkg0LrRgNCw0LksINCh0L7Rh9C4LCDQvNC40LrRgNC-0YDQsNC50L7QvSDQptC10L3RgtGA0LDQu9GM0L3Ri9C5LCDQnNC-0YHQutC-0LLRgdC60LDRjyDRg9C70LjRhtCwLCAxMCIKDaDnHkIVDV8uQg%2C%2C&z=15.52&scroll=false"
      width="560"
      height="400"
      allowfullscreen="true"
      style="position:relative;"></iframe>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="group">
        <P>© <span id="currentYear">2025</span>, Все права защищены. Студия GIRA. </P>
        <a href="https://seo-tex.ru/" target="_blank" title="Разработка сайта" class="footer__dev">
          <div class="icon">
            <svg
              width="27"
              height="28"
              viewBox="0 0 27 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.4857 0.651367C5.70161 0.651367 0 6.27452 0 14.1441C0 16.2745 0.416494 18.231 1.17772 19.9702L7.95637 13.7963L5.55801 11.0282L20.7383 8.01365L15.7404 22.7963L13.342 20.0282L6.76437 26.0282C8.7176 27.0716 10.9867 27.6514 13.4857 27.6514C21.3127 27.6514 27 22.0282 27 14.1586C27 6.28904 21.3127 0.651367 13.4857 0.651367Z"
                fill="currentColor"></path>
            </svg>
          </div>
          <span>
            Разработка <br />
            и продвижение
          </span>
        </a>
      </div>
      <div class="group">
        <P>ИП Фамилия И.О. ИНН 999999999999</P>
        <a href="#" target="_blank" class="text-p underline">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .footer {
    color: #fff;
    background: #1e1e1e;

    @include media("xl") {
      padding-bottom: rem(70);
    }

    &__top {
      padding: rem(45) 0;
      width: 100%;

      @include media("sm") {
        padding: rem(30) 0;
      }

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(50);

        @include media("sm") {
          gap: rem(30);
        }
      }

      &-content {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: rem(75);

        @include media("3xl") {
          gap: rem(50);
        }
        @include media("2xl") {
          justify-content: space-between;
          flex-wrap: wrap;
        }
        @include media("lg") {
          gap: rem(30);
        }
        @include media("sm") {
          gap: rem(20);
        }
      }

      .btn {
        color: #fff;

        @include media("xs") {
          width: 100%;
        }

        &:hover {
          color: #000;
          background: #fff;
        }
      }
    }

    &__map {
      width: 100%;
      height: rem(480);

      @include media("lg") {
        height: rem(400);
      }
      @include media("sm") {
        height: rem(300);
      }
      @include media("xs") {
        height: rem(280);
      }

      iframe {
        width: 100%;
        height: 100%;
        border: none;
      }
    }

    &__bottom {
      padding: rem(24) 0;
      width: 100%;

      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(20);

        @include media("xs") {
          flex-direction: column-reverse;
          align-items: flex-start;
        }
      }

      .group {
        gap: rem(10);

        &:last-child {
          align-items: flex-end;

          @include media("xs") {
            align-items: flex-start;
          }
        }
      }
    }

    &__logo {
      display: block;
    }

    &__address {
      @include media("lg") {
        width: 100%;

        br {
          display: none;
        }
      }
      @include media("sm") {
        br {
          display: block;
        }
      }
    }

    &__contacts {
      gap: rem(5);

      .group-row {
        gap: rem(10);
      }
    }

    &__follow {
      position: relative;
      padding: rem(20);
      width: 100%;
      max-width: rem(350);
      border: var(--border);
      line-height: 1.7;

      @include media("xl") {
        padding-right: rem(50);
        max-width: 100%;

        br {
          display: none;
        }
      }

      @include media("sm") {
        padding: rem(15) rem(50) rem(15) rem(15);
        max-width: 100%;
        line-height: 1.4;
      }

      .icon {
        position: absolute;
        bottom: rem(20);
        right: rem(20);
        --icon-size: #{rem(52)};

        @include media("xl") {
          bottom: 50%;
          transform: translateY(50%);
          --icon-size: #{rem(48)};
        }
      }
    }

    &__dev {
      margin-top: auto;
      color: #a4a4a4;
      font-size: 0.75rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.625rem;
      transition: var(--transition-ease);
      --icon-size: 1.875rem;

      &:hover {
        color: #fff;
      }
    }
  }
</style>
